In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('Bihar_Election_Results.csv')

In [2]:
data.head()

,Election Year,Position,Name,Votes,Votes %,Party,AC name,AC No
0,2010,1,Rajesh Singh,42289,29.40%,Janata Dal (United),Valmiki Nagar,1
1,2010,2,Mukesh Kumar Kushwaha,27618,19.20%,Rashtriya Janata Dal,Valmiki Nagar,1
2,2010,3,Dheerendra Pratap Singh,20886,14.50%,Bahujan Samaj Party,Valmiki Nagar,1
3,2010,4,Irshad Hussain,17747,12.40%,Indian National Congress,Valmiki Nagar,1
4,2010,5,Deep Narayan Mahato,14047,9.80%,Independent,Valmiki Nagar,1

In [3]:
name_and_no = data[['AC No','AC name']]
name_and_no.drop_duplicates(keep='first', inplace = True)
name_and_no

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       AC No          AC name
0          1    Valmiki Nagar
14         2         Ramnagar
31         3     Narkatiaganj
46         4           Bagaha
61         5          Lauriya
...      ...              ...
12091    227    Imamganj (SC)
12099    228  Barachatti (SC)
12105    229   Bodh Gaya (SC)
12176    235     Rajauli (SC)
12241    240    Sikandra (SC)

[291 rows x 2 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  12301 non-null  object
 1   Position       12301 non-null  int64
 2   Name           12301 non-null  object
 3   Votes          12301 non-null  int64
 4   Votes %        12301 non-null  object
 5   Party          12301 non-null  object
 6   AC name        12301 non-null  object
 7   AC No          12301 non-null  int64
dtypes: int64(3), object(5)
memory usage: 768.9+ KB

Q1- Determine the winning party for every election at the state level. A party which
has the highest total votes is considered the winner here.

Shortlisting the necessary data columns for the analysis

In [5]:
q1_data = data[['Party','Votes','Election Year']]

In [6]:
q1_election_winners = q1_data[['Party','Election Year','Votes']]
q1_election_winners = q1_election_winners.groupby(['Election Year','Party']).sum()
q1_election_winners = q1_election_winners.sort_values(by='Votes', ascending = False)
q1_election_winners.groupby('Election Year')['Votes'].nlargest(1)

Election Year  Election Year  Party
2005-Feb       2005-Feb       Rashtriya Janata Dal     6140223
2005-Oct       2005-Oct       Rashtriya Janata Dal     5525081
2010           2010           Janata Dal (United)      6561906
2015           2015           Bharatiya Janta Party    9308015
Name: Votes, dtype: int64

Rashtriya Janata Dal is the winner at the state level in 2005-Feb elections.

Rashtriya Janata Dal is the winner at the state level in 2005-Oct elections.

Janata Dal (United) is the winner at the state level in 2010 elections.

Bharatiya Janta Party is the winner at the state level in 2015 elections.

Q2-
Determine the list of swing seats for the state. A swing seat is a constituency
which has a different winner in every election. The elections are held in the order
2005-Feb, 2005-Oct, 2010 and 2015.

In [7]:
q2_data = data[['AC No','AC name', 'Election Year','Party','Position']]

JUSTIFICATION - Communist Party Of India (MARXIST-LENINIST) (LIBERATION) & Communist Party Of India (Marxist-Leninist) (Liberation) were getting counted as 2 different parties, so had to rename one of them to avoid redudancy in data.

In [8]:
q2_data['Party'] = q2_data['Party'].replace(to_replace = r"\(MAR.*", value = "(Marxist-Leninist) (Liberation)", regex = True)

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
q2_data.head()

   AC No        AC name Election Year                     Party  Position
0      1  Valmiki Nagar          2010       Janata Dal (United)         1
1      1  Valmiki Nagar          2010      Rashtriya Janata Dal         2
2      1  Valmiki Nagar          2010       Bahujan Samaj Party         3
3      1  Valmiki Nagar          2010  Indian National Congress         4
4      1  Valmiki Nagar          2010               Independent         5

In [10]:
q2_pivot = q2_data.pivot_table(index = ['AC name'], columns = ['Election Year'], values = 'Party', aggfunc = 'first').reset_index()

In [11]:
q2_pivot

Election Year,AC name,2005-Feb,2005-Oct,2010,2015
0,Agiaon,NaN,Communist Party Of India (Marxist-Leninist) (L...,Bharatiya Janta Party,Janata Dal (United)
1,Agiaon (SC),Communist Party Of India (Marxist-Leninist) (L...,NaN,NaN,NaN
2,Alamnagar,Rashtriya Janata Dal,Rashtriya Janata Dal,Janata Dal (United),Janata Dal (United)
3,Alauli,NaN,Janata Dal (United),Janata Dal (United),Rashtriya Janata Dal
4,Alauli (SC),Indian National Congress,NaN,NaN,NaN
...,...,...,...,...,...
284,Valmiki Nagar,Rashtriya Janata Dal,Rashtriya Janata Dal,Janata Dal (United),Independent
285,Warisnagar,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United)
286,Warsaliganj,Independent,Independent,Janata Dal (United),Bharatiya Janta Party
287,Wazirganj,Rashtriya Janata Dal,Rashtriya Janata Dal,Bharatiya Janta Party,Indian National Congress
288,Ziradei,Communist Party Of India,Communist Party Of India,Bharatiya Janta Party,Janata Dal (United)

Leveraged the comparison numpy library's condition feature to figure out which Constituencies had different Party with maximum votes.

In [12]:
q2_pivot['different_winners'] = np.where((q2_pivot['2005-Feb'] != q2_pivot['2005-Oct']) & (q2_pivot['2005-Feb'] != q2_pivot['2010']) & (q2_pivot['2005-Feb'] != q2_pivot['2015']) & (q2_pivot['2005-Oct'] != q2_pivot['2010']) & (q2_pivot['2005-Oct'] != q2_pivot['2015']) & (q2_pivot['2010'] != q2_pivot['2015']),1,0)

In [13]:
q2_final_table = q2_pivot.sort_values(by='different_winners', ascending = False)

In [14]:
q2_final_table = q2_final_table.dropna()

In [15]:
q2_final_table.head(11)

Election Year,AC name,2005-Feb,2005-Oct,2010,2015,different_winners
232,Ramgarh,Samajwadi Party,Akhil Jan Vikas Dal,Rashtriya Janata Dal,Bharatiya Janta Party,1
71,Chakai,Indian National Congress,Bharatiya Janta Party,Jharkhand Mukti Morcha,Rashtriya Janata Dal,1
167,Madhubani,Lok Jan Shakti Party,Janata Dal (United),Bharatiya Janta Party,Rashtriya Janata Dal,1
133,Kadwa,Rashtriya Janata Dal,Janata Dal (United),Bharatiya Janta Party,Indian National Congress,1
130,Jhajha,Lok Jan Shakti Party,Independent,Janata Dal (United),Bharatiya Janta Party,1
8,Amour,Lok Jan Shakti Party,Janata Dal (United),Bharatiya Janta Party,Indian National Congress,1
278,Thakurganj,Rashtriya Janata Dal,Bharatiya Janta Party,Lok Jan Shakti Party,Janata Dal (United),1
17,Bachhwara,Rashtriya Janata Dal,Bharatiya Janta Party,Communist Party Of India,Indian National Congress,1
27,Balrampur,Lok Jan Shakti Party,Rashtriya Janata Dal,Independent,Communist Party Of India (Marxist-Leninist) (L...,1
164,Lauriya,Samajwadi Party,Indian National Congress,Independent,Bharatiya Janta Party,1
49,Belsand,Communist Party Of India (Marxist-Leninist) (L...,Bharatiya Janta Party,Janata Dal (United),Indian National Congress,1

Swing Seats = Ramgarh, Chakai, Madhubani, Kadwa, Jhajha, Amour, Thakurganj, Bachhwara, Balrampur, Lauriya, Belsand

Q3
Determine the top 8 parties at the state-level in each election in terms of getting
the most votes.

In [16]:
q3_data = data[['Election Year','Party','Votes']]

In [17]:
q3_data.head()

  Election Year                     Party  Votes
0          2010       Janata Dal (United)  42289
1          2010      Rashtriya Janata Dal  27618
2          2010       Bahujan Samaj Party  20886
3          2010  Indian National Congress  17747
4          2010               Independent  14047

Did 4 different analysis for 4 elections

In [18]:
#2005-Feb

q3_data_1 = q3_data[q3_data['Election Year'] == '2005-Feb']
q3_data_1.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(8)

                            Votes
Party
Rashtriya Janata Dal      6140223
Independent               3957945
Janata Dal (United)       3564930
Lok Jan Shakti Party      3091173
Bharatiya Janta Party     2686290
Indian National Congress  1223835
Bahujan Samaj Party       1080745
Samajwadi Party            658791

In [19]:
#2005 - Oct

q3_data_2 = q3_data[q3_data['Election Year'] == '2005-Oct']
q3_data_2.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(8)

                            Votes
Party
Rashtriya Janata Dal      5525081
Janata Dal (United)       4819759
Bharatiya Janta Party     3686720
Lok Jan Shakti Party      2615901
Independent               2065744
Indian National Congress  1435449
Bahujan Samaj Party        981464
Samajwadi Party            594266

In [20]:
#2010 Year

q3_data_3 = q3_data[q3_data['Election Year'] == '2010']
q3_data_3.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(8)

                              Votes
Party
Janata Dal (United)         6561906
Rashtriya Janata Dal        5475656
Bharatiya Janta Party       4790436
Independent                 3842812
Indian National Congress    2431477
Lok Jan Shakti Party        1957232
Bahujan Samaj Party          933947
Nationalist Congress Party   528575

In [21]:
#2015 Year

q3_data_4 = q3_data[q3_data['Election Year'] == '2015']
q3_data_4.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(8)

                                    Votes
Party
Bharatiya Janta Party             9308015
Rashtriya Janata Dal              6995509
Janata Dal (United)               6416414
Independent                       3580953
Indian National Congress          2539638
Lok Jan Shakti Party              1840834
Rashtriya Lok Samta Party          976787
Hindustani Awam Morcha (Secular)   864856

In above 4 cells, answer of Question 3 is given

Q4

Determine the minimum votes that each party in the top 8 of the 2015 election
secured among all the past elections. Do this for all constituencies.

In [22]:
q4_list = q3_data_4.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(8).index.tolist()

In [23]:
q4_list

['Bharatiya Janta Party',
 'Rashtriya Janata Dal',
 'Janata Dal (United)',
 'Independent',
 'Indian National Congress',
 'Lok Jan Shakti Party',
 'Rashtriya Lok Samta Party',
 'Hindustani Awam Morcha (Secular)']

In [24]:
q4_data = data[['Party','Votes','Election Year','AC name']]

In [25]:
q4_data= q4_data[q4_data['Party'].isin(q4_list)]

Below are the minimum number of votes each party (State Top 8 in 2015) received across the years with the AC Name, and Election Year

In [26]:
q4_data.sort_values('Votes').groupby('Party').first()

                                  Votes Election Year        AC name
Party
Bharatiya Janta Party              2432      2005-Oct      Bodh Gaya
Hindustani Awam Morcha (Secular)   4206          2015        Jokihat
Independent                          98      2005-Feb  Masaurhi (SC)
Indian National Congress           1100          2010       Marhaura
Janata Dal (United)                 216      2005-Feb         Jhajha
Lok Jan Shakti Party                877      2005-Feb       Khajauli
Rashtriya Janata Dal               1386      2005-Feb         Jhajha
Rashtriya Lok Samta Party          9573          2015          Baisi

Q5
Determine the consistently tri-polar constituencies. I.e Constituencies in which 3
parties or more got greater than 10% of the vote shares in each election. The
parties can be different for different elections.

In [27]:
q5_data = data[['AC No','Election Year','Votes %']]

Converted Votes % column from string to float so it can be benchmarked against the 10% of the vote shares in the election.

Considered votes % received by candidate and compared it to 10%, and candidates with more than 10% were considered for futher analysis

In [28]:
q5_data = q5_data.replace(to_replace = r"\%", value = "", regex = True)
q5_data['Votes %'] = q5_data['Votes %'].astype(float)

In [29]:
q5_data

       AC No Election Year  Votes %
0          1          2010     29.4
1          1          2010     19.2
2          1          2010     14.5
3          1          2010     12.4
4          1          2010      9.8
...      ...           ...      ...
12296    243      2005-Feb      0.6
12297    243      2005-Feb      0.6
12298    243      2005-Feb      0.5
12299    243      2005-Feb      0.5
12300    243      2005-Feb      0.5

[12301 rows x 3 columns]

In [30]:
q5_data = q5_data.groupby(by=['AC No','Election Year']).head(3)

In [31]:
q5_data['Top1'] = q5_data['Votes %'][::3]
q5_data['Top2'] = q5_data['Votes %'][1::3]
q5_data['Top3'] = q5_data['Votes %'][2::3]

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
q5_data.head(15)

    AC No Election Year  Votes %  Top1  Top2  Top3
0       1          2010     29.4  29.4   NaN   NaN
1       1          2010     19.2   NaN  19.2   NaN
2       1          2010     14.5   NaN   NaN  14.5
14      2          2010     41.5  41.5   NaN   NaN
15      2          2010     17.7   NaN  17.7   NaN
16      2          2010     16.0   NaN   NaN  16.0
31      3          2010     38.1  38.1   NaN   NaN
32      3          2010     21.0   NaN  21.0   NaN
33      3          2010     18.9   NaN   NaN  18.9
46      4          2010     50.4  50.4   NaN   NaN
47      4          2010     13.8   NaN  13.8   NaN
48      4          2010     13.7   NaN   NaN  13.7
61      5          2010     33.4  33.4   NaN   NaN
62      5          2010     24.0   NaN  24.0   NaN
63      5          2010     19.3   NaN   NaN  19.3

In [33]:
q5_data_fillna = q5_data.fillna(method = 'ffill')
q5_data_fillna.head(10)

    AC No Election Year  Votes %  Top1  Top2  Top3
0       1          2010     29.4  29.4   NaN   NaN
1       1          2010     19.2  29.4  19.2   NaN
2       1          2010     14.5  29.4  19.2  14.5
14      2          2010     41.5  41.5  19.2  14.5
15      2          2010     17.7  41.5  17.7  14.5
16      2          2010     16.0  41.5  17.7  16.0
31      3          2010     38.1  38.1  17.7  16.0
32      3          2010     21.0  38.1  21.0  16.0
33      3          2010     18.9  38.1  21.0  18.9
46      4          2010     50.4  50.4  21.0  18.9

In [34]:
q5_data_final = q5_data_fillna[2::3]
q5_data_final

       AC No Election Year  Votes %  Top1  Top2  Top3
2          1          2010     14.5  29.4  19.2  14.5
16         2          2010     16.0  41.5  17.7  16.0
33         3          2010     18.9  38.1  21.0  18.9
48         4          2010     13.7  50.4  13.8  13.7
63         5          2010     19.3  33.4  24.0  19.3
...      ...           ...      ...   ...   ...   ...
12222    239      2005-Feb      6.1  42.4  34.5   6.1
12243    240      2005-Feb      8.8  38.7  36.5   8.8
12255    241      2005-Feb      8.9  63.5  10.2   8.9
12270    242      2005-Feb      1.7  50.5  43.3   1.7
12284    243      2005-Feb     17.3  37.6  17.5  17.3

[966 rows x 6 columns]

In [35]:
q5_data_final = q5_data_final.drop(columns = ['Votes %'])
q5_data_final.set_index('AC No', inplace = True)
q5_data_final

      Election Year  Top1  Top2  Top3
AC No
1              2010  29.4  19.2  14.5
2              2010  41.5  17.7  16.0
3              2010  38.1  21.0  18.9
4              2010  50.4  13.8  13.7
5              2010  33.4  24.0  19.3
...             ...   ...   ...   ...
239        2005-Feb  42.4  34.5   6.1
240        2005-Feb  38.7  36.5   8.8
241        2005-Feb  63.5  10.2   8.9
242        2005-Feb  50.5  43.3   1.7
243        2005-Feb  37.6  17.5  17.3

[966 rows x 4 columns]

In [36]:
q5_data_final['Top3 more than 10'] = np.where(((q5_data_final['Top1'] > 10 ) & (q5_data_final['Top2'] > 10) & (q5_data_final['Top3'] > 10)),1,0)

Every constituency in every election year with their top 3 candidates percentage.

Whichever combination of election year and constituency had their top 3 percentages > 10% were considered for further analysis

In [37]:
q5_data_final.groupby('Election Year').head()

      Election Year  Top1  Top2  Top3  Top3 more than 10
AC No
1              2010  29.4  19.2  14.5                  1
2              2010  41.5  17.7  16.0                  1
3              2010  38.1  21.0  18.9                  1
4              2010  50.4  13.8  13.7                  1
5              2010  33.4  24.0  19.3                  1
1              2015  36.2  18.0  17.8                  1
2              2015  48.1  37.5   5.6                  0
3              2015  37.3  26.8  25.5                  1
4              2015  44.5  39.6   5.0                  0
5              2015  40.5  28.1  14.7                  1
1          2005-Oct  32.3  29.8  20.0                  1
2          2005-Oct  50.7  35.4   2.7                  0
3          2005-Oct  37.5  36.6  10.2                  1
4          2005-Oct  35.7  30.4   8.4                  0
5          2005-Oct  33.8  26.6  22.8                  1
1          2005-Feb  30.6  21.0  17.2                  1
2          2005-Feb  49.0  22.8  13.4                  1
3          2005-Feb  21.5  21.2  16.8                  1
4          2005-Feb  31.1  19.6  19.5                  1
5          2005-Feb  27.4  20.4  12.2                  1

Whichever constituency had their top 3 percentages over 10, across 4 years of election were considered for further analysis.

In [38]:
q5_pivot = q5_data_final.pivot_table(index = ['AC No'], columns = 'Election Year', values = 'Top3 more than 10')
q5_pivot

Election Year  2005-Feb  2005-Oct  2010  2015
AC No
1                   1.0       1.0   1.0   1.0
2                   1.0       0.0   1.0   0.0
3                   1.0       1.0   1.0   1.0
4                   1.0       0.0   1.0   0.0
5                   1.0       1.0   1.0   1.0
...                 ...       ...   ...   ...
239                 0.0       1.0   0.0   0.0
240                 0.0       0.0   0.0   0.0
241                 0.0       1.0   0.0   0.0
242                 0.0       0.0   0.0   1.0
243                 1.0       0.0   1.0   1.0

[243 rows x 4 columns]

In [39]:
q5_pivot['Tri-Polar'] = np.where((q5_pivot['2005-Feb']==1) & (q5_pivot['2005-Oct']==1) & (q5_pivot['2010']==1) & (q5_pivot['2015']==1),'Yes','No')

In [40]:
q5_pivot.sort_values(by = 'Tri-Polar', ascending = False, inplace = True)
q5_answer = q5_pivot.head(27)
q5_answer.reset_index(inplace=True)
q5_answer

Election Year  AC No  2005-Feb  2005-Oct  2010  2015 Tri-Polar
0                  1       1.0       1.0   1.0   1.0       Yes
1                 57       1.0       1.0   1.0   1.0       Yes
2                214       1.0       1.0   1.0   1.0       Yes
3                213       1.0       1.0   1.0   1.0       Yes
4                212       1.0       1.0   1.0   1.0       Yes
5                209       1.0       1.0   1.0   1.0       Yes
6                206       1.0       1.0   1.0   1.0       Yes
7                203       1.0       1.0   1.0   1.0       Yes
8                197       1.0       1.0   1.0   1.0       Yes
9                196       1.0       1.0   1.0   1.0       Yes
10               195       1.0       1.0   1.0   1.0       Yes
11                63       1.0       1.0   1.0   1.0       Yes
12               221       1.0       1.0   1.0   1.0       Yes
13                65       1.0       1.0   1.0   1.0       Yes
14                66       1.0       1.0   1.0   1.0       Yes
15               169       1.0       1.0   1.0   1.0       Yes
16               161       1.0       1.0   1.0   1.0       Yes
17                95       1.0       1.0   1.0   1.0       Yes
18               107       1.0       1.0   1.0   1.0       Yes
19               147       1.0       1.0   1.0   1.0       Yes
20               120       1.0       1.0   1.0   1.0       Yes
21               134       1.0       1.0   1.0   1.0       Yes
22                31       1.0       1.0   1.0   1.0       Yes
23                64       1.0       1.0   1.0   1.0       Yes
24                 3       1.0       1.0   1.0   1.0       Yes
25                 5       1.0       1.0   1.0   1.0       Yes
26                22       1.0       1.0   1.0   1.0       Yes

In [41]:
q5_answer_final = pd.merge(q5_answer, name_and_no, on ='AC No', how = 'left')
q5_answer_final

    AC No  2005-Feb  2005-Oct  2010  2015 Tri-Polar        AC name
0       1       1.0       1.0   1.0   1.0       Yes  Valmiki Nagar
1      57       1.0       1.0   1.0   1.0       Yes          Baisi
2     214       1.0       1.0   1.0   1.0       Yes          Arwal
3     213       1.0       1.0   1.0   1.0       Yes        Karakat
4     212       1.0       1.0   1.0   1.0       Yes          Dehri
5     209       1.0       1.0   1.0   1.0       Yes       Kargahar
6     206       1.0       1.0   1.0   1.0       Yes       Chainpur
7     203       1.0       1.0   1.0   1.0       Yes        Ramgarh
8     197       1.0       1.0   1.0   1.0       Yes     Jagdishpur
9     196       1.0       1.0   1.0   1.0       Yes         Tarari
10    195       1.0       1.0   1.0   1.0       Yes         Agiaon
11    195       1.0       1.0   1.0   1.0       Yes    Agiaon (SC)
12     63       1.0       1.0   1.0   1.0       Yes        Katihar
13    221       1.0       1.0   1.0   1.0       Yes      Nabinagar
14     65       1.0       1.0   1.0   1.0       Yes      Balrampur
15     66       1.0       1.0   1.0   1.0       Yes        Pranpur
16    169       1.0       1.0   1.0   1.0       Yes     Sheikhpura
17    161       1.0       1.0   1.0   1.0       Yes          Banka
18     95       1.0       1.0   1.0   1.0       Yes          Kanti
19    107       1.0       1.0   1.0   1.0       Yes        Darauli
20    107       1.0       1.0   1.0   1.0       Yes   Darauli (SC)
21    147       1.0       1.0   1.0   1.0       Yes         Bakhri
22    147       1.0       1.0   1.0   1.0       Yes    Bakhri (SC)
23    120       1.0       1.0   1.0   1.0       Yes         Amnour
24    134       1.0       1.0   1.0   1.0       Yes       Ujiarpur
25     31       1.0       1.0   1.0   1.0       Yes       Harlakhi
26     64       1.0       1.0   1.0   1.0       Yes          Kadwa
27      3       1.0       1.0   1.0   1.0       Yes   Narkatiaganj
28      5       1.0       1.0   1.0   1.0       Yes        Lauriya
29     22       1.0       1.0   1.0   1.0       Yes        Sheohar

Q6 - 
Determine the stronghold party-seats. A stronghold seat is one that is won by the
same party in all the elections.

In [42]:
q6_data = data[['Party','Position','Election Year','AC No','AC name']]

In [43]:
q6_data = q6_data[q6_data['Position']==1]

In [44]:
q6_data_pivot = q6_data.groupby(['AC No','Election Year'])['Party'].aggregate(lambda x: x).unstack().reset_index()
q6_data_pivot.set_index('AC No', inplace = True)
q6_data_pivot

Election Year,2005-Feb,2005-Oct,2010,2015
AC No,,,,
1,Rashtriya Janata Dal,Rashtriya Janata Dal,Janata Dal (United),Independent
2,Janata Dal (United),Janata Dal (United),Bharatiya Janta Party,Bharatiya Janta Party
3,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Indian National Congress
4,Nationalist Congress Party,Bharatiya Janta Party,Janata Dal (United),Bharatiya Janta Party
5,Samajwadi Party,Indian National Congress,Independent,Bharatiya Janta Party
...,...,...,...,...
239,Independent,Independent,Janata Dal (United),Bharatiya Janta Party
240,Rashtriya Janata Dal,Bharatiya Janta Party,Janata Dal (United),Indian National Congress
241,Independent,Independent,Janata Dal (United),Rashtriya Janata Dal
242,Lok Jan Shakti Party,Independent,Janata Dal (United),Bharatiya Janta Party
243,Indian National Congress,Bharatiya Janta Party,Jharkhand Mukti Morcha,Rashtriya Janata Dal

In [45]:
q6_data_pivot['Same Party Winner'] = np.where((q6_data_pivot['2005-Feb'] == q6_data_pivot['2005-Oct']) & (q6_data_pivot['2005-Oct']== q6_data_pivot['2010']) & (q6_data_pivot['2010'] == q6_data_pivot['2015']),'Yes','No')

In [46]:
q6_data_pivot.sort_values(by='Same Party Winner', ascending = False, inplace = True)

In [47]:
q6_data_answer = q6_data_pivot.head(17)

In [48]:
q6_answer_final = pd.merge(q6_data_answer, name_and_no, on ='AC No', how = 'left')
q6_answer_final

,AC No,2005-Feb,2005-Oct,2010,2015,Same Party Winner,AC name
0,215,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Kurtha
1,112,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Maharajganj
2,41,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Nirmali
3,160,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Dhuraiya
4,160,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Dhauraiya (SC)
5,25,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Yes,Parihar
6,132,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Warisnagar
7,7,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Yes,Chanpatia
8,8,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Yes,Bettiah
9,72,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Singheshwar
10,72,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Singheshwar (SC)
11,10,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Yes,Raxaul
12,153,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Gopalpur
13,105,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Bharatiya Janta Party,Yes,Siwan
14,176,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Nalanda
15,163,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Belhar
16,202,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Rajpur
17,202,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Rajpur (SC)
18,149,Janata Dal (United),Janata Dal (United),Janata Dal (United),Janata Dal (United),Yes,Khagaria
19,162,Rashtriya Janata Dal,Janata Dal (United),Bharatiya Janta Party,Rashtriya Janata Dal,No,Katoria
20,162,Rashtriya Janata Dal,Janata Dal (United),Bharatiya Janta Party,Rashtriya Janata Dal,No,Katoria (ST)

Q7 
Determine close contest constituencies. Close contest seats are those in which
the top 2 finishers had a difference of less than 10% votes. Find seats in which
there was a close contest in all the elections. If there is no such seat, then relax
the criteria to 15%.

In [49]:
q7_data = data[['AC name','Election Year','Party','Position','Votes','Votes %', 'AC No']]
q7_data = q7_data.replace(to_replace = r"\%", value = "", regex = True)
q7_data['Votes %'] = q7_data['Votes %'].astype(float)
q7_data

,AC name,Election Year,Party,Position,Votes,Votes %,AC No
0,Valmiki Nagar,2010,Janata Dal (United),1,42289,29.4,1
1,Valmiki Nagar,2010,Rashtriya Janata Dal,2,27618,19.2,1
2,Valmiki Nagar,2010,Bahujan Samaj Party,3,20886,14.5,1
3,Valmiki Nagar,2010,Indian National Congress,4,17747,12.4,1
4,Valmiki Nagar,2010,Independent,5,14047,9.8,1
...,...,...,...,...,...,...,...
12296,Chakai,2005-Feb,Independent,15,534,0.6,243
12297,Chakai,2005-Feb,Independent,16,498,0.6,243
12298,Chakai,2005-Feb,Independent,17,437,0.5,243
12299,Chakai,2005-Feb,Independent,18,415,0.5,243
12300,Chakai,2005-Feb,Independent,19,407,0.5,243

In [50]:
q7_data = q7_data[(q7_data['Position']==1) | (q7_data['Position']==2)]

In [51]:
q7_data_1 = q7_data[(q7_data['Position']==1)].sort_values(by='AC No')
q7_data_2 = q7_data[(q7_data['Position']==2)].sort_values(by='AC No')

In [52]:
q7_data_1 = q7_data_1.reset_index().drop(columns = 'index')

In [53]:
q7_data_1.index.name = "Rank"
q7_data_1

,AC name,Election Year,Party,Position,Votes,Votes %,AC No
Rank,,,,,,,
0,Valmiki Nagar,2010,Janata Dal (United),1,42289,29.4,1
1,Valmiki Nagar,2015,Independent,1,66860,36.2,1
2,Valmiki Nagar,2005-Feb,Rashtriya Janata Dal,1,19389,30.6,1
3,Valmiki Nagar,2005-Oct,Rashtriya Janata Dal,1,19164,32.3,1
4,Ramnagar (SC),2005-Feb,Janata Dal (United),1,59151,49.0,2
...,...,...,...,...,...,...,...
967,Jhajha,2010,Janata Dal (United),1,48080,38.7,242
968,Chakai,2015,Rashtriya Janata Dal,1,47064,31.3,243
969,Chakai,2010,Jharkhand Mukti Morcha,1,21809,20.2,243
970,Chakai,2005-Oct,Bharatiya Janta Party,1,43276,54.0,243
971,Chakai,2005-Feb,Indian National Congress,1,32354,37.6,243

In [54]:
q7_data_2 = q7_data_2.reset_index().drop(columns = 'index')

In [55]:
q7_data_2.index.name = "Rank"
q7_data_2

,AC name,Election Year,Party,Position,Votes,Votes %,AC No
Rank,,,,,,,
0,Valmiki Nagar,2010,Rashtriya Janata Dal,2,27618,19.2,1
1,Valmiki Nagar,2015,Indian National Congress,2,33280,18.0,1
2,Valmiki Nagar,2005-Feb,Samajwadi Party,2,13287,21.0,1
3,Valmiki Nagar,2005-Oct,Samajwadi Party,2,17700,29.8,1
4,Ramnagar (SC),2005-Feb,Rashtriya Janata Dal,2,27481,22.8,2
...,...,...,...,...,...,...,...
967,Jhajha,2010,Rashtriya Janata Dal,2,37876,30.5,242
968,Chakai,2015,Independent,2,34951,23.3,243
969,Chakai,2010,Lok Jan Shakti Party,2,21621,20.0,243
970,Chakai,2005-Oct,Indian National Congress,2,26809,33.4,243
971,Chakai,2005-Feb,Communist Party Of India (MARXIST),2,15070,17.5,243

In [56]:
q7_data_1 = q7_data_1.join(q7_data_2, on= 'Rank',how = 'inner',lsuffix='left')

In [57]:
q7_difference = q7_data_1.drop(columns = ['AC nameleft', 'Election Yearleft','Partyleft','Positionleft', 'Votesleft','Party','Position','Votes'])

In [58]:
q7_difference['votes % difference'] = q7_difference['Votes %left']-q7_difference['Votes %']

In [59]:
q7_difference

,Votes %left,AC Noleft,AC name,Election Year,Votes %,AC No,votes % difference
Rank,,,,,,,
0,29.4,1,Valmiki Nagar,2010,19.2,1,10.2
1,36.2,1,Valmiki Nagar,2015,18.0,1,18.2
2,30.6,1,Valmiki Nagar,2005-Feb,21.0,1,9.6
3,32.3,1,Valmiki Nagar,2005-Oct,29.8,1,2.5
4,49.0,2,Ramnagar (SC),2005-Feb,22.8,2,26.2
...,...,...,...,...,...,...,...
967,38.7,242,Jhajha,2010,30.5,242,8.2
968,31.3,243,Chakai,2015,23.3,243,8.0
969,20.2,243,Chakai,2010,20.0,243,0.2
970,54.0,243,Chakai,2005-Oct,33.4,243,20.6
971,37.6,243,Chakai,2005-Feb,17.5,243,20.1

In [60]:
q7_difference = q7_difference.drop(columns = ['Votes %left','Votes %','AC Noleft'])

In [61]:
q7_difference

            AC name Election Year  AC No  votes % difference
Rank
0     Valmiki Nagar          2010      1                10.2
1     Valmiki Nagar          2015      1                18.2
2     Valmiki Nagar      2005-Feb      1                 9.6
3     Valmiki Nagar      2005-Oct      1                 2.5
4     Ramnagar (SC)      2005-Feb      2                26.2
...             ...           ...    ...                 ...
967          Jhajha          2010    242                 8.2
968          Chakai          2015    243                 8.0
969          Chakai          2010    243                 0.2
970          Chakai      2005-Oct    243                20.6
971          Chakai      2005-Feb    243                20.1

[972 rows x 4 columns]

In [62]:
q7_pivot = q7_difference.pivot_table(index='AC No', columns = 'Election Year', values = 'votes % difference')

In [63]:
q7_pivot

Election Year  2005-Feb  2005-Oct  2010  2015
AC No
1                   9.6       2.5  10.2  18.2
2                  26.2      15.3  23.8  10.6
3                   0.3       0.9  17.1  10.5
4                  11.5       5.3  36.6   4.9
5                   7.0       7.2   9.4  12.4
...                 ...       ...   ...   ...
239                 7.9       1.7   4.5  11.6
240                 2.2       9.3  11.9   5.8
241                53.3      17.2  20.1   5.2
242                 7.2       0.6   8.2  13.4
243                20.1      20.6   0.2   8.0

[243 rows x 4 columns]

In [64]:
q7_pivot['close contest'] = np.where((q7_pivot['2005-Feb'] < 10) & (q7_pivot['2005-Oct'] < 10) & (q7_pivot['2010'] < 10) & (q7_pivot['2015'] < 10),1,0)

In [65]:
q7_answer = q7_pivot.sort_values(by='close contest', ascending = False).head(28)
q7_answer

Election Year  2005-Feb  2005-Oct  2010  2015  close contest
AC No
156                 1.8       9.8   9.4   8.8              1
219                 5.9       0.9   0.6   5.1              1
28                  1.4       4.5   4.4   8.9              1
53                  3.8       3.0   5.4   4.5              1
93                  3.3       5.7   1.2   6.7              1
25                  5.8       1.1   3.7   2.4              1
31                  1.9       4.3   6.0   2.6              1
161                 6.2       0.8   2.2   2.8              1
197                 3.9       3.1   7.9   7.0              1
58                  7.7       0.1   3.4   0.9              1
106                 4.7       5.1   8.3   4.5              1
52                  2.0       2.7   3.4   8.8              1
154                 5.8       2.7   4.5   2.9              1
86                  6.4       4.7   0.0   5.3              1
36                  9.6       3.2   0.5   4.3              1
37                  8.9       2.3   2.3   4.0              1
66                  5.6       0.2   0.5   4.5              1
163                 1.8       4.0   6.4   4.6              1
213                 2.1       1.8   8.9   7.9              1
10                  2.7       8.7   8.9   1.9              1
9                   8.3       5.6   7.0   1.8              1
237                 6.1       3.7   5.3   9.5              1
212                 2.4       4.6   7.9   2.7              1
203                 8.7       8.1   2.4   5.2              1
158                 0.7       0.1   3.8   4.6              1
209                 2.4       0.8   8.8   7.3              1
204                 7.3       1.1   2.2   5.4              1
107                 8.1       3.0   6.0   6.5              1

In [66]:
q7_answer_final = pd.merge(q7_answer, name_and_no, on ='AC No', how = 'left')
q7_answer_final

    AC No  2005-Feb  2005-Oct  2010  2015  close contest         AC name
0     156       1.8       9.8   9.4   8.8              1       Bhagalpur
1     219       5.9       0.9   0.6   5.1              1             Goh
2      28       1.4       4.5   4.4   8.9              1       Sitamarhi
3      53       3.8       3.0   5.4   4.5              1      Thakurganj
4      93       3.3       5.7   1.2   6.7              1         Kurhani
5      25       5.8       1.1   3.7   2.4              1         Parihar
6      31       1.9       4.3   6.0   2.6              1        Harlakhi
7     161       6.2       0.8   2.2   2.8              1           Banka
8     197       3.9       3.1   7.9   7.0              1      Jagdishpur
9      58       7.7       0.1   3.4   0.9              1           Kasba
10    106       4.7       5.1   8.3   4.5              1         Ziradei
11     52       2.0       2.7   3.4   8.8              1     Bahadurganj
12    154       5.8       2.7   4.5   2.9              1       Pirpainti
13    154       5.8       2.7   4.5   2.9              1  Pirpainti (SC)
14     86       6.4       4.7   0.0   5.3              1           Keoti
15     36       9.6       3.2   0.5   4.3              1       Madhubani
16     37       8.9       2.3   2.3   4.0              1        Rajnagar
17     37       8.9       2.3   2.3   4.0              1   Rajnagar (SC)
18     66       5.6       0.2   0.5   4.5              1         Pranpur
19    163       1.8       4.0   6.4   4.6              1          Belhar
20    213       2.1       1.8   8.9   7.9              1         Karakat
21     10       2.7       8.7   8.9   1.9              1          Raxaul
22      9       8.3       5.6   7.0   1.8              1           Sikta
23    237       6.1       3.7   5.3   9.5              1          Nawada
24    212       2.4       4.6   7.9   2.7              1           Dehri
25    203       8.7       8.1   2.4   5.2              1         Ramgarh
26    158       0.7       0.1   3.8   4.6              1       Nathnagar
27    209       2.4       0.8   8.8   7.3              1        Kargahar
28    204       7.3       1.1   2.2   5.4              1         Mohania
29    204       7.3       1.1   2.2   5.4              1    Mohania (SC)
30    107       8.1       3.0   6.0   6.5              1         Darauli
31    107       8.1       3.0   6.0   6.5              1    Darauli (SC)

Question 8 - 
Find the growing seats. For the top 8 parties at the state-level in the 2005-Feb
Election, Determine the seats in which these parties have continuously increased
their votes in the next 3 elections.

In [67]:
q8_list = q3_data_1.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(9).index.tolist()

ASSUMPTION : Ignored the Independent Candidate in 2005-Feb Elections for ease in calculation and considerered the 9th party with max votes

In [68]:
q8_list

['Rashtriya Janata Dal',
 'Independent',
 'Janata Dal (United)',
 'Lok Jan Shakti Party',
 'Bharatiya Janta Party',
 'Indian National Congress',
 'Bahujan Samaj Party',
 'Samajwadi Party',
 'Communist Party Of India (MARXIST-LENINIST) (LIBERATION)']

In [69]:
q8_list.remove('Independent')

In [70]:
q8_data = data[['Party','Votes','Election Year','AC name', 'AC No']]
q8_data = q8_data[q8_data['Party'].isin(q8_list)]

In [71]:
q8_data

                          Party  Votes Election Year        AC name  AC No
0           Janata Dal (United)  42289          2010  Valmiki Nagar      1
1          Rashtriya Janata Dal  27618          2010  Valmiki Nagar      1
2           Bahujan Samaj Party  20886          2010  Valmiki Nagar      1
3      Indian National Congress  17747          2010  Valmiki Nagar      1
14        Bharatiya Janta Party  51993          2010       Ramnagar      2
...                         ...    ...           ...            ...    ...
12280       Janata Dal (United)    216      2005-Feb         Jhajha    242
12282  Indian National Congress  32354      2005-Feb         Chakai    243
12285     Bharatiya Janta Party   4647      2005-Feb         Chakai    243
12287      Lok Jan Shakti Party   4227      2005-Feb         Chakai    243
12290       Bahujan Samaj Party   1035      2005-Feb         Chakai    243

[4355 rows x 5 columns]

In [72]:
q8_data_pivot = q8_data.pivot_table(index = ['Party','AC No'], columns = ['Election Year'], values = 'Votes')
q8_data_pivot

Election Year              2005-Feb  2005-Oct     2010     2015
Party               AC No
Bahujan Samaj Party 1        2893.0    4285.0  20886.0  11097.0
                    2        3487.0    3202.0   3825.0   2531.0
                    3       11180.0   10687.0   4680.0   2124.0
                    4        6641.0    3015.0  18341.0   8292.0
                    5        2088.0    1702.0   4133.0   8994.0
...                             ...       ...      ...      ...
Samajwadi Party     237         NaN    6012.0      NaN      NaN
                    238     36732.0   10530.0      NaN      NaN
                    240         NaN       NaN   1022.0      NaN
                    241       543.0       NaN      NaN   1545.0
                    242         NaN       NaN    947.0      NaN

[1771 rows x 4 columns]

In [73]:
q8_data_pivot['Growing_seats'] = np.where((q8_data_pivot['2005-Oct'] > q8_data_pivot['2005-Feb']) & (q8_data_pivot['2010'] > q8_data_pivot['2005-Oct']) & (q8_data_pivot['2015'] > q8_data_pivot['2010']),1,0)

In [74]:
q8_data_pivot = q8_data_pivot.sort_values(by='Growing_seats', ascending = False)

In [75]:
q8_data_pivot = q8_data_pivot[q8_data_pivot['Growing_seats']==1]

In [76]:
q8_data_answer = q8_data_pivot.groupby(['Party','AC No']).min()
q8_data_answer = q8_data_answer.reset_index()
q8_data_answer

Election Year,Party,AC No,2005-Feb,2005-Oct,2010,2015,Growing_seats
0,Bahujan Samaj Party,14,1010.0,1601.0,2311.0,2376.0,1
1,Bahujan Samaj Party,18,2593.0,4200.0,9087.0,12366.0,1
2,Bahujan Samaj Party,74,646.0,1001.0,1476.0,1809.0,1
3,Bahujan Samaj Party,160,1565.0,1675.0,2263.0,2642.0,1
4,Bahujan Samaj Party,161,1156.0,2260.0,5169.0,16548.0,1
...,...,...,...,...,...,...,...
75,Rashtriya Janata Dal,172,26106.0,41448.0,54168.0,68963.0,1
76,Rashtriya Janata Dal,187,16587.0,30047.0,57818.0,66631.0,1
77,Rashtriya Janata Dal,233,23183.0,24023.0,35023.0,60687.0,1
78,Rashtriya Janata Dal,241,9171.0,26583.0,35663.0,66577.0,1
79,Samajwadi Party,209,279.0,530.0,764.0,6121.0,1

In [77]:
q8_answer_final = pd.merge(q8_data_answer, name_and_no, on ='AC No', how = 'left')
q8_answer_final

,Party,AC No,2005-Feb,2005-Oct,2010,2015,Growing_seats,AC name
0,Bahujan Samaj Party,14,1010.0,1601.0,2311.0,2376.0,1,Govindganj
1,Bahujan Samaj Party,18,2593.0,4200.0,9087.0,12366.0,1,Madhuban
2,Bahujan Samaj Party,74,646.0,1001.0,1476.0,1809.0,1,Sonbarsa
3,Bahujan Samaj Party,74,646.0,1001.0,1476.0,1809.0,1,Sonbarsha (SC)
4,Bahujan Samaj Party,160,1565.0,1675.0,2263.0,2642.0,1,Dhuraiya
...,...,...,...,...,...,...,...,...
92,Rashtriya Janata Dal,172,26106.0,41448.0,54168.0,68963.0,1,Biharsharif
93,Rashtriya Janata Dal,187,16587.0,30047.0,57818.0,66631.0,1,Maner
94,Rashtriya Janata Dal,233,23183.0,24023.0,35023.0,60687.0,1,Atri
95,Rashtriya Janata Dal,241,9171.0,26583.0,35663.0,66577.0,1,Jamui
96,Samajwadi Party,209,279.0,530.0,764.0,6121.0,1,Kargahar

In [78]:
q8_answer_final = q8_answer_final.groupby(['Party','AC No']).min()
q8_answer_final

                            2005-Feb  2005-Oct     2010     2015  \
Party                AC No
Bahujan Samaj Party  14       1010.0    1601.0   2311.0   2376.0
                     18       2593.0    4200.0   9087.0  12366.0
                     74        646.0    1001.0   1476.0   1809.0
                     160      1565.0    1675.0   2263.0   2642.0
                     161      1156.0    2260.0   5169.0  16548.0
...                              ...       ...      ...      ...
Rashtriya Janata Dal 172     26106.0   41448.0  54168.0  68963.0
                     187     16587.0   30047.0  57818.0  66631.0
                     233     23183.0   24023.0  35023.0  60687.0
                     241      9171.0   26583.0  35663.0  66577.0
Samajwadi Party      209       279.0     530.0    764.0   6121.0

                            Growing_seats         AC name
Party                AC No
Bahujan Samaj Party  14                 1      Govindganj
                     18                 1        Madhuban
                     74                 1        Sonbarsa
                     160                1  Dhauraiya (SC)
                     161                1           Banka
...                                   ...             ...
Rashtriya Janata Dal 172                1     Biharsharif
                     187                1           Maner
                     233                1            Atri
                     241                1           Jamui
Samajwadi Party      209                1        Kargahar

[80 rows x 6 columns]

Q 9

Find the declining seats. Repeat exercise g for the opposite growth.

In [79]:
q9_list = q3_data_1.groupby('Party').sum().sort_values(by='Votes', ascending = False).head(9).index.tolist()

ASSUMPTION : Ignored the Independent Candidate in 2005-Feb Elections for ease in calculation and considerered the 9th party with max votes

In [80]:
q9_list

['Rashtriya Janata Dal',
 'Independent',
 'Janata Dal (United)',
 'Lok Jan Shakti Party',
 'Bharatiya Janta Party',
 'Indian National Congress',
 'Bahujan Samaj Party',
 'Samajwadi Party',
 'Communist Party Of India (MARXIST-LENINIST) (LIBERATION)']

In [81]:
q9_list.remove('Independent')

In [82]:
q9_data = data[['Party','Votes','Election Year','AC name', 'AC No']]
q9_data = q9_data[q9_data['Party'].isin(q9_list)]

In [83]:
q9_data_pivot = q9_data.pivot_table(index = ['Party','AC No'], columns = ['Election Year'], values = 'Votes')

In [84]:
q9_data_pivot['Declining_seats'] = np.where((q9_data_pivot['2005-Oct'] < q9_data_pivot['2005-Feb']) & (q9_data_pivot['2010'] < q9_data_pivot['2005-Oct']) & (q9_data_pivot['2015'] < q9_data_pivot['2010']),1,0)

In [85]:
q9_data_pivot = q9_data_pivot.sort_values(by='Declining_seats', ascending = False)

In [86]:
q9_data_pivot = q9_data_pivot[q9_data_pivot['Declining_seats']==1]

In [87]:
q9_data_pivot = q9_data_pivot.groupby(['Party','AC No']).min()

In [88]:
q9_data_pivot = q9_data_pivot.reset_index()

In [89]:
q9_final_answer = pd.merge(q9_data_pivot, name_and_no, on ='AC No', how = 'left')
q9_final_answer

,Party,AC No,2005-Feb,2005-Oct,2010,2015,Declining_seats,AC name
0,Bahujan Samaj Party,3,11180.0,10687.0,4680.0,2124.0,1,Narkatiaganj
1,Bahujan Samaj Party,21,49087.0,38024.0,4385.0,1434.0,1,Dhaka
2,Bahujan Samaj Party,50,3497.0,3444.0,2534.0,1593.0,1,Jokihat
3,Bahujan Samaj Party,55,4844.0,2525.0,1318.0,970.0,1,Kochadhaman
4,Bahujan Samaj Party,68,3739.0,1641.0,837.0,794.0,1,Barari
5,Bahujan Samaj Party,71,5913.0,3690.0,1262.0,1238.0,1,Bihariganj
6,Bahujan Samaj Party,85,1602.0,1553.0,1179.0,836.0,1,Bahadurpur
7,Bahujan Samaj Party,98,4360.0,2355.0,1654.0,1092.0,1,Sahebganj
8,Bahujan Samaj Party,128,3796.0,3053.0,1841.0,1213.0,1,Raghopur
9,Bahujan Samaj Party,134,6487.0,2396.0,1257.0,906.0,1,Ujiarpur
10,Bahujan Samaj Party,146,5721.0,5376.0,4809.0,2725.0,1,Begusarai
11,Bahujan Samaj Party,157,11619.0,10810.0,6198.0,2140.0,1,Sultanganj
12,Bahujan Samaj Party,158,5636.0,4927.0,4757.0,1357.0,1,Nathnagar
13,Bahujan Samaj Party,164,2302.0,2028.0,969.0,949.0,1,Tarapur
14,Bahujan Samaj Party,173,2771.0,2398.0,2136.0,1436.0,1,Rajgir
15,Bahujan Samaj Party,173,2771.0,2398.0,2136.0,1436.0,1,Rajgir (SC)
16,Bahujan Samaj Party,181,4191.0,1355.0,979.0,927.0,1,Digha
17,Bahujan Samaj Party,183,4820.0,931.0,870.0,285.0,1,Kumhrarh
18,Bahujan Samaj Party,183,4820.0,931.0,870.0,285.0,1,Kumhrar
19,Bahujan Samaj Party,194,3660.0,2423.0,1041.0,839.0,1,Arrah
20,Bahujan Samaj Party,210,32065.0,29987.0,8387.0,1874.0,1,Dinara
21,Bahujan Samaj Party,211,24326.0,16498.0,8158.0,4101.0,1,Nokha
22,Bahujan Samaj Party,213,37762.0,26869.0,3711.0,3195.0,1,Karakat
23,Bahujan Samaj Party,216,10331.0,5603.0,3176.0,2084.0,1,Jahanabad
24,Bahujan Samaj Party,218,12420.0,4187.0,2708.0,1814.0,1,Makhdumpur
25,Bahujan Samaj Party,218,12420.0,4187.0,2708.0,1814.0,1,Makhadumapur (SC)
26,Bahujan Samaj Party,230,5988.0,2473.0,1356.0,672.0,1,Gaya Town
27,Bahujan Samaj Party,234,4853.0,4357.0,4173.0,1509.0,1,Wazirganj
28,Bahujan Samaj Party,236,7358.0,5043.0,1797.0,1057.0,1,Hisua
29,Samajwadi Party,18,2774.0,934.0,912.0,573.0,1,Madhuban
30,Samajwadi Party,124,6630.0,2391.0,785.0,480.0,1,Lalganj

In [90]:
q9_final_answer = q9_final_answer.groupby(['Party','AC No']).min()
q9_final_answer

                           2005-Feb  2005-Oct    2010    2015  \
Party               AC No
Bahujan Samaj Party 3       11180.0   10687.0  4680.0  2124.0
                    21      49087.0   38024.0  4385.0  1434.0
                    50       3497.0    3444.0  2534.0  1593.0
                    55       4844.0    2525.0  1318.0   970.0
                    68       3739.0    1641.0   837.0   794.0
                    71       5913.0    3690.0  1262.0  1238.0
                    85       1602.0    1553.0  1179.0   836.0
                    98       4360.0    2355.0  1654.0  1092.0
                    128      3796.0    3053.0  1841.0  1213.0
                    134      6487.0    2396.0  1257.0   906.0
                    146      5721.0    5376.0  4809.0  2725.0
                    157     11619.0   10810.0  6198.0  2140.0
                    158      5636.0    4927.0  4757.0  1357.0
                    164      2302.0    2028.0   969.0   949.0
                    173      2771.0    2398.0  2136.0  1436.0
                    181      4191.0    1355.0   979.0   927.0
                    183      4820.0     931.0   870.0   285.0
                    194      3660.0    2423.0  1041.0   839.0
                    210     32065.0   29987.0  8387.0  1874.0
                    211     24326.0   16498.0  8158.0  4101.0
                    213     37762.0   26869.0  3711.0  3195.0
                    216     10331.0    5603.0  3176.0  2084.0
                    218     12420.0    4187.0  2708.0  1814.0
                    230      5988.0    2473.0  1356.0   672.0
                    234      4853.0    4357.0  4173.0  1509.0
                    236      7358.0    5043.0  1797.0  1057.0
Samajwadi Party     18       2774.0     934.0   912.0   573.0
                    124      6630.0    2391.0   785.0   480.0

                           Declining_seats            AC name
Party               AC No
Bahujan Samaj Party 3                    1       Narkatiaganj
                    21                   1              Dhaka
                    50                   1            Jokihat
                    55                   1        Kochadhaman
                    68                   1             Barari
                    71                   1         Bihariganj
                    85                   1         Bahadurpur
                    98                   1          Sahebganj
                    128                  1           Raghopur
                    134                  1           Ujiarpur
                    146                  1          Begusarai
                    157                  1         Sultanganj
                    158                  1          Nathnagar
                    164                  1            Tarapur
                    173                  1             Rajgir
                    181                  1              Digha
                    183                  1            Kumhrar
                    194                  1              Arrah
                    210                  1             Dinara
                    211                  1              Nokha
                    213                  1            Karakat
                    216                  1          Jahanabad
                    218                  1  Makhadumapur (SC)
                    230                  1          Gaya Town
                    234                  1          Wazirganj
                    236                  1              Hisua
Samajwadi Party     18                   1           Madhuban
                    124                  1            Lalganj

Question - 10

Determine the state-winner-match constituencies. Find the seats which have
always elected the party that has gone on to win the state election (most votes
secured at state). So if the RJD won at the state level in 2010, then seats which
voted an RJD candidate as winner are considered in this category. This criteria
for a seat has to be matched for each election.

Shortlisting the necessary data columns for the analysis

In [91]:
q10_data = data[['Party','Votes','Election Year','AC name', 'AC No','Position']]

Figuring out the State Winner, year wise

In [92]:
q10_election_winners = q10_data[['Party','Election Year','Votes']]
q10_election_winners = q10_election_winners.groupby(['Election Year','Party']).sum()
q10_election_winners = q10_election_winners.sort_values(by='Votes', ascending = False)
q10_election_winners.groupby('Election Year')['Votes'].nlargest(1)

Election Year  Election Year  Party
2005-Feb       2005-Feb       Rashtriya Janata Dal     6140223
2005-Oct       2005-Oct       Rashtriya Janata Dal     5525081
2010           2010           Janata Dal (United)      6561906
2015           2015           Bharatiya Janta Party    9308015
Name: Votes, dtype: int64

Using the state winner for every year from previous step, the winning constituencies can be shortlisted and then will be compared for each year to find the state-winner-match constituency.

In [93]:
q10_data_1 = q10_data[q10_data['Election Year'] == '2005-Feb']
q10_data_1 = q10_data_1[q10_data_1['Position']==1]
q10_data_1 = q10_data_1[q10_data_1['Party'] == 'Rashtriya Janata Dal']
q10_data_1_only_name = q10_data_1[['AC name','AC No']]

In [94]:
q10_data_2 = q10_data[q10_data['Election Year'] == '2005-Oct']
q10_data_2 = q10_data_2[q10_data_2['Position']==1]
q10_data_2 = q10_data_2[q10_data_2['Party'] == 'Rashtriya Janata Dal']
q10_data_2_only_name = q10_data_2[['AC name','AC No']]

In [95]:
q10_data_3 = q10_data[q10_data['Election Year'] == '2010']
q10_data_3 = q10_data_3[q10_data_3['Position']==1]
q10_data_3 = q10_data_3[q10_data_3['Party'] == 'Janata Dal (United)']
q10_data_3_only_name = q10_data_3[['AC name','AC No']]

In [96]:
q10_data_4 = q10_data[q10_data['Election Year'] == '2015']
q10_data_4 = q10_data_4[q10_data_4['Position']==1]
q10_data_4 = q10_data_4[q10_data_4['Party'] == 'Bharatiya Janta Party']
q10_data_4_only_name = q10_data_4[['AC name','AC No']]

From the 4 data points extracted in previous steps, here they're getting merged into one dataframe so that the common value can be extracted.

In [97]:
one_and_two = pd.merge(q10_data_1_only_name, q10_data_2_only_name, how = 'inner', on = ['AC No'])
one_and_two
one_and_two_and_three = pd.merge(one_and_two, q10_data_3_only_name, how = 'inner', on = ['AC No'])
one_and_two_and_three
one_and_two_and_three_and_four = pd.merge(one_and_two_and_three, q10_data_4_only_name, how = 'inner', on = ['AC No'])
one_and_two_and_three_and_four

    AC name_x  AC No   AC name_y   AC name_x   AC name_y
0  Bihariganj     71  Bihariganj  Bihariganj  Bihariganj

The state-winner-match constituency is BIHARIGANJ.